<div class="row-flow">
    <div class="col-container">
        <div class="overlay"></div>
        <div  class="column-1 col-r">
           <div class="row-sponsered">
            <h2  class="medium letter-big-white">the success <br>
              <span  class="bold"> is under</span><br>
              <span  class="bold"> construction.</span><br>
             </h2> 
             <div class="ml-1 row">
               <div class="icon-location">
               </div>
               <div class="address">
                 <span  class="letter-small-white semi-bold">100 west street, 06810, Danbury CT, USA </span>
               </div>
               <div class="icon-personal" >
               </div>
               <div class="personal-info">
                 <span  class="letter-small-white semi-bold">info@solidstonemasonry.com +1(203) 570 9640</span>
               </div>
             </div>
           </div>
            
        </div>
    
        <div   class="column-2 col-r">
            <div style="position: absolute; 
            bottom: 0; width: 35vw;">
              <h2 style="color: #FFF;" class="semi-bold">Contact Us</h2>
            <form class="example-form">
                <mat-form-field style="width: 100%;" class="mb-4">
                  <mat-label style="color: #FFF;" >name</mat-label>
                  <input style="color: #FE813E;" class="light" matInput  >
                </mat-form-field>
              
                <mat-form-field style="width: 100%;" class="mb-4">
                  <mat-label style="color: #FFF;" >email</mat-label>
                  <input style="color: #FE813E;" matInput>
                </mat-form-field>
              </form>

              <mat-form-field style="width: 100%;" class="mb-4">
                <mat-label style="color: #FFF;" >tell us, how can we help you</mat-label>
                <textarea style="color: #FE813E;" matInput  ></textarea>
              </mat-form-field>

              <button mat-button style="background-color: #FE813E; border-radius: 0; width: 100%; padding: 1rem 0rem; color: #FFF;" class="bold">send</button>
              <div class="social-media">
                <div class="row">
                  <div class="icon-instagram"></div>
                  <div class="icon-facebook"></div>
                </div>
                <p   class="letter-small-white semi-bold text-right">2021. Art And Color. All rights reserved.</p>
              </div>
            </div>
        </div>

        
    </div> 
   <div class="contact-responsive">
     <div>
     
      <div class="col-12 column-1-responsive">
      
        <h2  class="medium letter-big-white">the success <br>
          <span  class="bold"> is under</span><br>
          <span  class="bold"> construction.</span><br>
         </h2> 
         <div class="ml-1 row">
           <div class="icon-location">
           </div>
           <div class="address">
             <span  class="letter-small-white semi-bold">100 west street, 06810, Danbury CT, USA </span>
           </div>
           
         </div>
         <div class="ml-1 row">
          <div class="icon-personal" >
          </div>
          <div class="personal-info">
            <span  class="letter-small-white semi-bold">info@solidstonemasonry.com +1(203) 570 9640</span>
          </div>
         </div>
       </div>
       
  
     </div>
          <div class="col-12 column-2-responsive">
      <h2 style="color: #FFF;" class="semi-bold">Contact Us</h2>
      <form class="example-form">
          <mat-form-field style="width: 100%;" class="mb-4">
            <mat-label style="color: #FFF;" >your name</mat-label>
            <input style="color: #FE813E;" class="light" matInput  >
          </mat-form-field>
        
          <mat-form-field style="width: 100%;" class="mb-4">
            <mat-label style="color: #FFF;" >email</mat-label>
            <input style="color: #FE813E;" matInput>
          </mat-form-field>
        </form>

        <mat-form-field style="width: 100%;" class="mb-4">
          <mat-label style="color: #FFF;" >tell us, how we can help you</mat-label>
          <textarea style="color: #FE813E;" matInput  ></textarea>
        </mat-form-field>

        <button mat-button style="background-color: #FE813E; border-radius: 0; width: 100%; padding: 1rem 0rem; color: #FFF;" class="bold">send</button>
        <div class="social-media">
          <div class="row">
            <div class="icon-instagram"></div>
            <div class="icon-facebook"></div>
          </div>
          <p   class="letter-small-white semi-bold text-right">2021. tripin .All rights reserved.</p>
        </div>
     </div>
   </div>
</div>
