
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$solid-stone-app-primary: mat-palette($mat-indigo);
$solid-stone-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$solid-stone-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$solid-stone-app-theme: mat-light-theme((
  color: (
    primary: $solid-stone-app-primary,
    accent: $solid-stone-app-accent,
    warn: $solid-stone-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($solid-stone-app-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


@font-face{
    font-family: 'Solid Stone Bold';
    src: url('assets/fonts/Sora-Bold.ttf'), 
}

@font-face{
    font-family: 'Solid Stone Extra Bold';
    src: url('assets/fonts/Sora-ExtraBold.ttf'), 
}

@font-face{
    font-family: 'Solid Stone Extra Light';
    src: url('assets/fonts/Sora-ExtraLight.ttf'), 
}

@font-face{
    font-family: 'Solid Stone Light';
    src: url('assets/fonts/Sora-Light.ttf'), 
}


@font-face{
    font-family: 'Solid Stone Medium';
    src: url('assets/fonts/Sora-Medium.ttf'), 
}

@font-face{
    font-family: 'Solid Stone Regular';
    src: url('assets/fonts/Sora-Regular.ttf'), 
}

@font-face{
    font-family: 'Solid Stone Semi Bold';
    src: url('assets/fonts/Sora-SemiBold.ttf'), 
}

@font-face{
    font-family: 'Solid Stone Thin';
    src: url('assets/fonts/Sora-Thin.ttf'), 
}

.bold{
    font-family: 'Solid Stone Bold';
}

.extra-bold{
    font-family: 'Solid Stone Extra Bold';
}

.light{
   font-family: 'Solid Stone Light'; 
}

.extra-light{
    font-family: 'Solid Stone Extra Light';
}

.medium{
    font-family: 'Solid Stone Medium';
}

.regular{
    font-family: 'Solid Stone Regular';
}

.semi-bold{
    font-family: 'Solid Stone Semi Bold';
}

.thin{
    font-family: 'Solid Stone Thin';
}
.bold{
    font-family: 'Solid Stone Bold';
}

.extra-bold{
    font-family: 'Solid Stone Extra Bold';
}

.light{
   font-family: 'Solid Stone Light'; 
}

.extra-light{
    font-family: 'Solid Stone Extra Light';
}

.medium{
    font-family: 'Solid Stone Medium';
}

.regular{
    font-family: 'Solid Stone Regular';
}

.semi-bold{
    font-family: 'Solid Stone Semi Bold';
}

.thin{
    font-family: 'Solid Stone Thin';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
